**/.env
**/node_modules
**/dist
**/uploads
**/.DS_Store
**/venv
**/__pycache__
*.log
*.pyc
*.pyo
*.swp
.idea/
.vscode/
.env.*
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
build/
tmp/
.cache/
*.bak
*.orig
*.rej
*.sublime-workspace
*.sublime-project
*.tgz
*.lock

server/config/firebaseServiceAccountKey.json

.env

